05 0 * * * root (cd /usr/local/mobilizeds/ && make -f mobilizeds.mk snapshot)
05 0 * * * root (cd /usr/local/mobilizeds/ && make -f mobilizeds.mk cleanup)

# Clean up MobilizeDS server tokens.
10 0 * * * root (/usr/bin/find /usr/local/mobilizeds/tokens -name "sess_*" -mmin +1440 -type f -delete > /dev/null)
10 0 * * * root (/usr/bin/find /var/www/apps/browse/download/tokens -name "download_*" -mmin +1440 -type f -delete > /dev/null)
