.panel-body {
	min-height: 440px;
}

.panel-primary {
	min-height: 481px;
}

.ui-resizable-handle {
	display:none !important;
}

.container>p>a {
	color: #f75236;
}

#handleMetadataCsvFile>span>.arrow-down {
	float: right;
	margin-top: 6px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid white;
	border-bottom: 10px solid transparent;
}

#msgImportMetadata {
	background-color: #ffd297;
	margin-top: 5px;
	max-width: 954px;
}

#handleMetadataCsvFile {
	margin-top: 15px;
	background-color: #337ab7;
	color: #fff;
	padding: 4px;
}

#handleMetadataCsvFile>span {
	padding-left: 12px;
}

#handleMetadataCsvFile>span>b {
	font-size: 16px;
}

#cardMetadataCsvFile {
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-width: thin;
	border-left-style: solid;
	border-right-style: solid;
	border-top-style: solid;
	border-bottom-style: transparent;
	border-color: #337ab7;
}

.containerMetadataCsvFile {
	border-width: thin;
	border-style: solid;
	border: 1px solid #dcc896;
	background: rgba(250,240,210,.5);
	margin: 15px 15px 0px 0px;
	border-radius: 5px;
	position: relative;
}

.containerMetadataCsvFile>.row {
	margin: 5px;
}

.metadataInfoLink {
	padding: 12px;
	position: absolute;
	right: 0%;
}

.metadataInfoLink a {
	font-weight: bolder;
	font-size: 1.4rem;
	color: #f75236;
}

.metadataInfoLink a:hover {
	color: #d82709;
}

.hdrImport {
	padding-left: 12px;
}

.msgImport {
	padding-left: 20px;
}

.card-footer {
	padding-top: 5px;
	padding-bottom: 5px;
	border-width: thin;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-color: #337ab7;
}

.card-footer>div {
	text-align: right;
}

#modalHeaderImportMetadata {
	background-color: #f0ad4e;
}

.btn-success {
	margin-top: 2px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
	padding: 10px 16px;
	margin-right: 15px; 
}

.popoverLic {
	color:#f75236
}

.myPopOver > .popoverLic:hover, .myPopOver > .popoverLic:focus {
	color: #d82709;
}

.import-meta-field {
	width: 55px;
}
